[Unit]
Description = TUNA mirrors sync worker
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tunasync worker -c /etc/tunasync/worker.conf

[Install]
WantedBy=multi-user.target
